@media (max-width: 480px) {

    .container-grid {

        grid-template-columns: 1fr;

        img {
            height: auto;
        }
    }

    .titulo-grid,
    .img1-grid,
    .texto1-grid,
    .img2-grid,
    .texto2-grid,
    .video-grid,
    .texto3-grid {

        grid-column: 1;
        grid-row: auto;
    }

    .video-grid {
        height: 200px;
    }

    form {
        width: 70%;
    }
}
/*
@media (max-width: 768px) {

    .container-grid {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .titulo-grid {

        grid-column: 1/3;
        grid-row: 1;
    }

    .img1-grid {

        grid-column: 1;
        grid-row: auto;
    }

    .texto1-grid {

        grid-column: 2;
        grid-row: auto;
    }

    .img2-grid {

        grid-column: 1;
        grid-row: auto;
    }

    .texto2-grid {

        grid-column: 2;
        grid-row: auto;
    }

    .video-grid {

        grid-column: 1;
        grid-row: auto;
    }

    .texto3-grid {

        grid-column: 2;
        grid-row: auto;
    }
}*/


@media (max-width: 768px) {

    .container-grid {

        grid-template-columns: 1fr;
    }

    .container-grid > * {

        grid-column: auto !important;
        grid-row: auto !important;
    }

    .container-grid img {

        width: 100%;
        height: auto;
        display: block;
    }

    .video-grid {

        width: 100%;
    }
}