
@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-principal;
    background-color: $color-fondo;
    color: $color-texto;
}

main {
    text-align: center;

    img {
        max-width: 50%;
        height: auto;
    }
}

h2 {
    font-family: $fuente-principal;
    text-decoration: underline;
    background-color: $color-secundario;
    padding: 0.5rem;
    max-width: 90%;
    margin: 1rem auto;
}