
$color-principal: red;
$color-texto: white;
$color-fondo: #111;
$color-secundario: #222;

$fuente-principal: 'Playfair Display', serif;

$borde-redondo: 10px;

$transicion: 0.3s;

$ancho-card: 300px;