@use "../generales/variables" as *;

#container-lanzamientos{    //section con 3 div
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-lanzamientos{     //dentro tiene h3, p, img, p
        background: linear-gradient(red, transparent);
          /*para hacer un color de difuminado lineal(de arriba a abajo)*/

        border: 2px solid $color-texto;
        border-radius: $borde-redondo;
        
        width: $ancho-card;
        padding: 10px;
        margin: 1rem auto;

        transition: $transicion;

        &:hover{
            transform: scale(1.05);
        }
        
        img{
            border-radius: 20px;
        }

        .precio{
            font-weight: bold;
        }
    }
}

